@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color:lightgrey;
    overflow-x: hidden;
}
.Container{
    text-align: center;
}
/* Header */

header{
    border: rgb(255, 255, 255);
    justify-content: space-between;
    box-shadow: 0 2px 5px;
    width: 100%;
    z-index: 999;  
    
}
.header-block{
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 30px 5px 30px 5px;
}

header h1{
    font-size:3em;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.col-1{
    color:chocolate;
    text-align: center;
}
.small-container{
    color: chocolate;
    margin-top:50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;

}
.col-2{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    color:black;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.7s ease;
}
.col-2:hover{
    transform: scale(1.1);
}


